.App-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.App-icon-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 3em;
}

i {
    padding: 2em;
}
