.Ball-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.Ball {
    margin: 2em;
    padding: 2em;
    background-color: tomato;
    border-radius: 50%;
}

.App-ball {
    min-width: 120vh;
    margin: auto;
    text-align: center;
}
.Lottery-wrapper {
    display: flex;
}