.Box-Container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
}

.Box {
    height: 150px;
    width: calc(16% - 15px);
    /* background-color: hotpink; */
}

.Title-Container {
    padding: 2em;

}